.venv
videos
diagram_convert.py
architecture.mmd
architecture.png
src/model_compile/hailo_dataflow_compiler-3.33.0-py3-none-linux_x86_64.whl
src/model_compile/hailo_model_zoo-2.17.1-py3-none-any.whl
src/model_compile/coco_full
src/model_compile/hailo_env
src/model_compile/.install_logs
src/model_compile/calib_dataset_npy
src/model_compile/calib_dataset
src/model_compile/yolov8m_compiled.har
src/model_compile/yolov8m_optimized.har
src/model_compile/yolov8m.har
src/model_compile/yolov8s.har
src/model_compile/calib_dataset_npy.zip